h1{
    color: rgb(0, 0, 0);
    text-align: center;
}

.nomovie{

    color: rgb(0, 0, 0);
    font-size: 17px;
    text-align: center;
}



/*  Menu  */

.bgtopo{
    background-image: url(img/bgtopo.png);
    background-color: aliceblue;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center;

}

#menum{
    text-align: right;
    margin-top: 2%;
    margin-bottom: 5%;
    margin-right: 5%;
}

.menu{
    height: 50px;
    background-color: gray;
    width: 1000px;
    cursor: pointer;
    color: white;
    box-shadow: 0 0 5px 0  gray;
    border:none ;
    border-radius: 10%;
    padding: 10px;
    text-decoration: none;
}

.menu:hover{
    background-color: rgb(95, 95, 95);
	color: white;
    box-shadow: none;
    position: relative;
	top: 5px;

}

/*  Geral  */

body{
    min-height: 100vh;
    padding-bottom: 10%;
    position: relative;
}

.row {
    margin: 0;
}

.container-fluid{
    padding: 0;
}

.btn-primary{
    background-color: black;
    border: 2px solid azure;
}

.btn-primary:hover{
    background-color: gray;
    border-color: gray;
}

/*  Pesquisa  */

#search-container{
    background-size: cover;
    background-position: center;
    height: 10%;
    padding: 2%;

}

#search-container h1{
    color: rgb(73, 68, 68);
    margin-bottom: 3%;
    font-weight: 900;
}

#search-container form{
    width: 50%;
    margin: 0 auto;
}

/*  Lista de Filmes  */

#cards-container{
    display: flex;

}
#cards-contaienr:hover{
    height: 100%;
}

#events-container .card{
    flex: 1 1 0;
    max-width: 100%;
    border-radius: 10px;
    padding: 0;
    margin: 1%;
}

footer {
    text-align: center;
    background-color: rgb(41, 42, 43);
    color: white;
    padding: 2%;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.bottao{
    margin-bottom: 1%;
    height: 50px;
    background-color: gray;
    cursor: pointer;
    color: white;
    box-shadow: 0 0 5px 0  gray;
    border:none ;
    border-radius: 10%;
    padding: 10px;
    text-decoration: none;
    margin-top: 2%;
}
.bottao:hover{
    background-color: rgb(95, 95, 95);
	color: white;
    box-shadow: none;
    position: relative;
	top: 5px;

}

.capa{
 margin-bottom: 1%;
 padding: 0;
 margin: 0;
 margin-left: 0.6%;
}
.capa img{
    border-radius: 10px;
    margin-bottom: 2%;
    padding: 0;
    margin-left: 4%;
    position: none;


    
}
.capa img:hover{
    scale: 1.01;
}

.form-group{
    margin-bottom: 1%;
}

.msg{
    width: 100%;
    background-color: rgb(46, 255, 220);
    text-align: center;
    height: 2%;
}   